@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #f1f3f2;
}

h1 {
  font-size: 52px;
  line-height: 60px;
  font-weight: bold;
}

h2 {
  font-size: 44px;
  line-height: 60px;
  font-weight: bold;
}

h3 {
  font-size: 28px;
  line-height: 32px;
  font-weight: bold;
}

p {
  font-size: 22px;
  line-height: 25px;
}

span {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
}

section {
  padding-top: 56px; /** This is the header height */
  padding-bottom: 56px; /** This is the header height */
}

.fadeInLeft {
  animation: FadeInLeft 1.5s ease-in-out;
}

@keyframes FadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    opacity: translateX(0);
  }
}

.fadeInRight {
  animation: FadeInRight 1.5s ease-in-out;
}

@keyframes FadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    opacity: translateX(0);
  }
}

.fadeInMainButton {
  animation: FadeInMainButton 3s ease-in-out;
}

@keyframes FadeInMainButton {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  50% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    opacity: translateY(0);
  }
}
